<div class="container-fluid chat-area">
<div class="h-100 d-flex flex-column">
        <div class="row text-area">
            <div class="col-md-12">
                <div id="people-joined" class="alert alert-success" role="alert">
                </div>
                <ul id="msgs" class="list-group"></ul>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col-md-12">
                <textarea id="msg" rows="5" cols="120"></textarea>
                <button  type="submit" id="send" class="btn btn-primary">Send</button>
                <button type="button" id="clear" class="btn btn-outline-primary">Clear all</button>
            </div>
        </div>
    </div>
</div>